repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: "v0.6.9"
  hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: "v1.11.2"
  hooks:
    - id: mypy
      args: ["--strict", "src/"]
      additional_dependencies: [
        "typer>=0.9.0",
        "pydantic>=2.0.0",
        "rich>=13.0.0"
      ]
